.issues-import-modal.modal
  .modal-dialog
    .modal-content
      = form_tag import_csv_namespace_project_issues_path, multipart: true do
        .modal-header
          %h4.gl-m-0
            = _('Import issues')
          %a.close{ href: '#', 'data-dismiss' => 'modal' } ×
        .modal-body
          .modal-text
            %p
              = _("Your issues will be imported in the background. Once finished, you'll get a confirmation email.")
            .form-group
              = label_tag :file, _('Upload CSV file'), class: 'label-bold'
              %div
                = file_field_tag :file, accept: '.csv,text/csv', required: true
            %p.text-secondary
              = _('It must have a header row and at least two columns: the first column is the issue title and the second column is the issue description. The separator is automatically detected.')
              = _('The maximum file size allowed is %{size}.') % { size: number_to_human_size(Gitlab::CurrentSettings.max_attachment_size.megabytes) }
        .modal-footer
          %button{ type: 'submit', class: 'gl-button btn btn-success', title: _('Import issues'), data: { track_label: "export_issues_csv", track_event: "click_button", track_value: ""} }
            = _('Import issues')
